.title {
    text-align: center;
    background-color: cornflowerblue;
    color: white;
    height: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.stand {
    width: 200px;
    min-height: 300px;
    border: 2px solid cornflowerblue;
    margin: 25px;
    padding: 10px;
    border-radius: 20px;
}