.button_box {
    margin-bottom: 10px;
    margin-left: 15px;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 5px;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    font-family: inherit;
    background: cornflowerblue;
    min-width: 100px;

    margin-bottom: 10px;
}
.button:hover {
    background: #1d49aa;
    cursor: pointer;
    transition: .2s;
}

.button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #cbd6ee;
}
.button:disabled {
    color: #d2d5db;
    background: #6c7589;
    cursor: default;
}