.option {
    display: block;
    margin-bottom: 0.25em;
}

/*------checkbox----*/
.check {
    padding-left: 10px;
}
.checkInput {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.checkbox {
    display: inline-block;
    width: 10px;
    height: 10px;
    box-shadow: 0 0 0 1px black;
    position: relative;
    margin-right: 10px;
    border-radius: 2px;
}

.checkbox::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: black;
    background-image: url("./check-removebg.png");
    background-repeat: no-repeat;
    background-size: 10px 10px;
    opacity: 0;
    transition: .2s;
}

.checkInput:checked + .checkbox::before {
    opacity: 1;
}

/*.checkInput:focus + .checkbox {
    box-shadow:
            0 0 0 1px black,
            0 0 0 2px greenyellow;
}*/

.checkInput:disabled + .checkbox {
    background-color: gray;
    box-shadow: 0 0 0 1px gray;
}
.checkInput:disabled + .checkbox::before {
    background-color: gray;
}

/*------label----*/

.labelText {
    font-size: 16px;
}